<!-- <h1>Make your form here</h1> -->
<form>
  <label for "name">Pirate Name:</label>
  <input type="text" id="name" name="name">
  <label for "weight">Pirate Weight:</label>
  <input type="text" id="weight" name="weight">
  <label for "height">Pirate Height:</label>
  <input type="text" id="height" name="height">
  <input type="submit" value="submit">
</form>
